# HomeWork number Two
## Machine Learning 
### Professor : Dr Rezvanian
### Student : Mahdi Mahdiani 4021334041 
#### Date :  Azar 1402 
##### Question 2

## Install Jdatetime

In [3]:
!pip3 install jdatetime

Collecting jdatetime
  Downloading jdatetime-4.1.1-py3-none-any.whl (13 kB)
Installing collected packages: jdatetime
Successfully installed jdatetime-4.1.1

## Import Libraries

In [862]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
from sklearn import preprocessing
from jdatetime import date
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

## Read Data Sets

In [863]:
df1 = pd.read_excel('AED-USD-Jan_2015_Dec_2022.xlsx')
df2 = pd.read_excel('Crude_Oil_Price-Jan_2015_Dec_2022.xlsx')
df3 = pd.read_excel('EUR-USD-Jan_2015_Dec_2022.xlsx')
df4 = pd.read_excel('Gold_Price-Jan_2015_Dec_2022.xlsx')
df5 = pd.read_excel('Stock_Index_13940101_14010801.xlsx')
df6 = pd.read_excel('USD-IRR-Nov-2011-December-2022.xlsx')

## EDA

In [864]:
df1.sample(7)

           Date      Open      High       Low     Close  Adj Close  Volume
1129 2019-05-01  0.272316  0.272316  0.272264  0.272279   0.272279     0.0
459  2016-10-05  0.272324  0.272361  0.272264  0.272264   0.272264     0.0
1278 2019-11-26  0.272316  0.272346  0.272279  0.272316   0.272316     0.0
207  2015-10-19  0.272383  0.272390  0.272264  0.272331   0.272331     0.0
1531 2020-11-13  0.272316  0.272316  0.272264  0.272316   0.272316     0.0
555  2017-02-16  0.272339  0.272346  0.272264  0.272346   0.272346     0.0
1136 2019-05-10  0.272316  0.272331  0.272264  0.272316   0.272316     0.0

In [865]:
df2.sample(7)

           Date   Open   High    Low Close* Adj Close**  Volume
927  2019-04-08   64.4  64.79  63.68  63.98       63.98  790677
1014 2018-11-30  51.27  51.79  49.65  50.93       50.93  796714
932  2019-04-01  61.81  62.75   61.6  62.58       62.58  793227
1639 2016-06-06  49.71  50.53  49.44  50.36       50.36  542254
5    2022-11-25  77.51   79.9  76.22  76.28       76.28  266451
1879 2015-06-25  59.66  59.96  58.76  59.63       59.63  231957
1023 2018-11-16  56.58  57.96  55.89  56.46       56.46  159001

In [866]:
df3.sample(7)

           Date      Open      High       Low     Close  Adj Close  Volume
972  2018-09-24  1.175102  1.181502  1.172525  1.175102   1.175102     0.0
796  2018-01-19  1.223586  1.229483  1.222031  1.223661   1.223661     0.0
106  2015-05-29  1.095794  1.100350  1.092911  1.096035   1.096035     0.0
1995 2022-08-25  0.996910  1.003059  0.995679  0.996910   0.996910     0.0
427  2016-08-22  1.130071  1.133273  1.127396  1.129816   1.129816     0.0
720  2017-10-05  1.175696  1.177995  1.170385  1.175724   1.175724     0.0
824  2018-02-28  1.222210  1.224290  1.218918  1.223032   1.223032     0.0

In [867]:
df4.sample()

           Date    Open    High     Low  Close* Adj Close** Volume
1361 2017-07-17  1236.2  1241.2  1236.2  1241.1      1241.1     29

In [868]:
df5.sample()

      name  dateissue    Value
1231  شاخص   13960620  83369.1

In [869]:
df6.sample()

,gregorian calendar dates,persian calander dates,first price recorded on the day,lowest price recorded on the day,highest price recorded during the day,last price recorded on the day
3146,2022-11-20,1401/08/29,348240,348160,352700,351600

In [870]:
data = []
for row in df5['dateissue']:
    
    if (str(row)).isdigit() and len(str(row)) == 8:
        year = int(str(row)[:4])
        month = int(str(row)[4:6])
        day = int(str(row)[6:])
        
        gregorian_date = jdatetime.date(year, month, day).togregorian()
        data.append(gregorian_date.strftime('%Y-%m-%d'))

In [871]:
df5

      name  dateissue      Value
0     شاخص   14010801  1296797.8
1     شاخص   14010730  1308960.0
2     شاخص   14010727  1310165.9
3     شاخص   14010726  1312563.2
4     شاخص   14010725  1311109.9
...    ...        ...        ...
1825  شاخص   13940111    65728.0
1826  شاخص   13940110    65175.1
1827  شاخص   13940109    65099.9
1828  شاخص   13940108    63625.5
1829  شاخص   13940105    62885.0

[1830 rows x 3 columns]

In [872]:
df1['Date'] = pd.to_datetime(df1['Date'])
df2['Date'] = pd.to_datetime(df2['Date'])
df3['Date'] = pd.to_datetime(df3['Date'])
df4['Date'] = pd.to_datetime(df4['Date'])
df5['Date'] = pd.to_datetime(data)
df6['Date'] = pd.to_datetime(df6['gregorian calendar dates'])

In [873]:
df5

      name  dateissue      Value       Date
0     شاخص   14010801  1296797.8 2022-10-23
1     شاخص   14010730  1308960.0 2022-10-22
2     شاخص   14010727  1310165.9 2022-10-19
3     شاخص   14010726  1312563.2 2022-10-18
4     شاخص   14010725  1311109.9 2022-10-17
...    ...        ...        ...        ...
1825  شاخص   13940111    65728.0 2015-03-31
1826  شاخص   13940110    65175.1 2015-03-30
1827  شاخص   13940109    65099.9 2015-03-29
1828  شاخص   13940108    63625.5 2015-03-28
1829  شاخص   13940105    62885.0 2015-03-25

[1830 rows x 4 columns]

## Some Preprocessing

### Checking For null data and fill them with mean

In [874]:
df1.isnull().sum()

Date         0
Open         2
High         2
Low          2
Close        2
Adj Close    2
Volume       2
dtype: int64

In [875]:
df1 = df1.fillna(df1.mean())

/var/folders/r9/sv2l0znj5xbg1cbcvnh09h4c0000gn/T/ipykernel_25381/2203842713.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df1 = df1.fillna(df1.mean())

In [876]:
df1.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [877]:
df2.isnull().sum()

Date           0
Open           0
High           0
Low            0
Close*         0
Adj Close**    0
Volume         0
dtype: int64

In [878]:
df3.isnull().sum()

Date         0
Open         3
High         3
Low          3
Close        3
Adj Close    3
Volume       3
dtype: int64

In [879]:
df3 = df3.fillna(df3.mean())

/var/folders/r9/sv2l0znj5xbg1cbcvnh09h4c0000gn/T/ipykernel_25381/1387534836.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df3 = df3.fillna(df3.mean())

In [880]:
df3.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [881]:
df4.isnull().sum()

Date           0
Open           0
High           0
Low            0
Close*         0
Adj Close**    0
Volume         0
dtype: int64

In [882]:
df5.isnull().sum()

name         0
dateissue    0
Value        0
Date         0
dtype: int64

In [883]:
df6.isnull().sum()

gregorian calendar dates                 0
persian calander dates                   0
first price recorded on the day          0
lowest price recorded on the day         0
highest price recorded during the day    0
last price recorded on the day           0
Date                                     0
dtype: int64

## Cleaning Data

### Drop Useless Columns

In [884]:
df6.drop(['persian calander dates','gregorian calendar dates'],axis=1,inplace=True)

In [885]:
df1.drop(["Volume"],axis=1,inplace=True) # ALL VOLUME IS 0

In [886]:
df3.drop(["Volume"],axis=1,inplace=True) # ALL VOLUME IS 0

In [887]:
df5.name.value_counts()

شاخص    1830
Name: name, dtype: int64

## Rename Some Columns

In [888]:
df2 = df2.rename(columns={'Close*':'Close'})
df2 = df2.rename(columns={'Adj Close**':'Adj Close'})

df4 = df4.rename(columns={'Close*':'Close'})
df4 = df4.rename(columns={'Adj Close**':'Adj Close'})

## Calculate Contrast Percent

In [889]:
df6['PercentageChange'] = df6['last price recorded on the day'].pct_change() * 100

## Labling Changes to 1,0,-1

In [890]:
def changes_encoding(percentage_change):
    if pd.isna(percentage_change):
        return 0  # If there is no previous value, consider it as no change
    elif percentage_change > 0:
        return 1  # Positive change
    elif percentage_change < 0:
        return -1  # Negative change
    else:
        return 0  # No change

In [891]:
df6['Label'] = df6['PercentageChange'].apply(changes_encoding)

In [892]:
df6.tail()

,first price recorded on the day,lowest price recorded on the day,highest price recorded during the day,last price recorded on the day,Date,PercentageChange,Label
3155,353850,352610,354500,354500,2022-11-30,0.000000,0
3156,351970,351770,356950,356950,2022-12-01,0.691114,1
3157,354670,354020,357240,357240,2022-12-03,0.081244,1
3158,357350,356300,357500,357500,2022-12-04,0.072780,1
3159,359520,356120,362810,359090,2022-12-05,0.444755,1

In [893]:
df2

           Date   Open   High    Low  Close Adj Close  Volume
0    2022-12-02  81.47  82.22  79.65  79.98     79.98  321432
1    2022-12-01   80.4  83.34  79.93  81.22     81.22  321432
2    2022-11-30     79  81.38   78.4  80.55     80.55  287534
3    2022-11-29  76.54  79.65  76.29   78.2      78.2  381869
4    2022-11-28  75.93  77.84   73.6  77.24     77.24  405033
...         ...    ...    ...    ...    ...       ...     ...
1996 2015-01-08  48.78  49.65  47.73  48.79     48.79  362081
1997 2015-01-07     48  49.31  46.83  48.65     48.65  460083
1998 2015-01-06     50  50.37  47.55  47.93     47.93  451642
1999 2015-01-05  52.61  52.73  49.68  50.04     50.04  375782
2000 2015-01-02  53.76  55.11  52.03  52.69     52.69  268708

[2001 rows x 7 columns]

## Merging Data Frames On Date

In [894]:
df1_adj = df1[['Date','Adj Close']]
df2_adj = df2[['Date','Adj Close']]
df3_adj = df3[['Date','Adj Close']]
df4_adj = df4[['Date','Adj Close']]
df5_val = df5[['Date', 'Value']]
df6_label=df6[['Date','last price recorded on the day', 'Label']]
merged_df = df1_adj
for df_adj in [df2_adj, df3_adj, df4_adj,df5_val,df6_label]:
    merged_df = pd.merge(merged_df, df_adj, on='Date', how='inner')

/var/folders/r9/sv2l0znj5xbg1cbcvnh09h4c0000gn/T/ipykernel_25381/1922434517.py:9: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Adj Close_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df_adj, on='Date', how='inner')

In [895]:
merged_df

,Date,Adj Close_x,Adj Close_y,Adj Close_x,Adj Close_y,Value,last price recorded on the day,Label
0,2015-03-25,0.272331,51.43,1.090203,1205.1,62885.0,33930,1
1,2015-03-30,0.272316,47.6,1.088495,1183.1,65175.1,33240,1
2,2015-03-31,0.272316,50.09,1.083025,1208.1,65728.0,33070,-1
3,2015-04-06,0.272316,53.98,1.100134,1210.6,70843.9,32860,1
4,2015-04-07,0.272324,50.42,1.093482,1203.1,70159.9,33140,1
...,...,...,...,...,...,...,...,...
992,2022-10-11,0.272324,87.27,0.971006,1670.3,1313583.9,327520,1
993,2022-10-12,0.272324,89.11,0.970017,1670,1319789.7,326510,-1
994,2022-10-17,0.272286,82.82,0.973937,1649,1311109.9,328620,-1
995,2022-10-18,0.272324,85.55,0.984640,1627.5,1312563.2,328390,-1
996,2022-10-19,0.272324,85.98,0.986388,1630.8,1310165.9,327970,-1

## Check Null

In [896]:
merged_df.isnull().sum()

Date                              0
Adj Close_x                       0
Adj Close_y                       0
Adj Close_x                       0
Adj Close_y                       0
Value                             0
last price recorded on the day    0
Label                             0
dtype: int64

In [897]:
merged_df

,Date,Adj Close_x,Adj Close_y,Adj Close_x,Adj Close_y,Value,last price recorded on the day,Label
0,2015-03-25,0.272331,51.43,1.090203,1205.1,62885.0,33930,1
1,2015-03-30,0.272316,47.6,1.088495,1183.1,65175.1,33240,1
2,2015-03-31,0.272316,50.09,1.083025,1208.1,65728.0,33070,-1
3,2015-04-06,0.272316,53.98,1.100134,1210.6,70843.9,32860,1
4,2015-04-07,0.272324,50.42,1.093482,1203.1,70159.9,33140,1
...,...,...,...,...,...,...,...,...
992,2022-10-11,0.272324,87.27,0.971006,1670.3,1313583.9,327520,1
993,2022-10-12,0.272324,89.11,0.970017,1670,1319789.7,326510,-1
994,2022-10-17,0.272286,82.82,0.973937,1649,1311109.9,328620,-1
995,2022-10-18,0.272324,85.55,0.984640,1627.5,1312563.2,328390,-1
996,2022-10-19,0.272324,85.98,0.986388,1630.8,1310165.9,327970,-1

## Rename Columns

In [898]:
new_column_names = ['Date','adj_close_df1','adj_close_df2', 'adj_close_df3','adj_close_df4','value','price','label']

In [899]:
merged_df.columns = new_column_names

In [900]:
merged_df

,Date,adj_close_df1,adj_close_df2,adj_close_df3,adj_close_df4,value,price,label
0,2015-03-25,0.272331,51.43,1.090203,1205.1,62885.0,33930,1
1,2015-03-30,0.272316,47.6,1.088495,1183.1,65175.1,33240,1
2,2015-03-31,0.272316,50.09,1.083025,1208.1,65728.0,33070,-1
3,2015-04-06,0.272316,53.98,1.100134,1210.6,70843.9,32860,1
4,2015-04-07,0.272324,50.42,1.093482,1203.1,70159.9,33140,1
...,...,...,...,...,...,...,...,...
992,2022-10-11,0.272324,87.27,0.971006,1670.3,1313583.9,327520,1
993,2022-10-12,0.272324,89.11,0.970017,1670,1319789.7,326510,-1
994,2022-10-17,0.272286,82.82,0.973937,1649,1311109.9,328620,-1
995,2022-10-18,0.272324,85.55,0.984640,1627.5,1312563.2,328390,-1
996,2022-10-19,0.272324,85.98,0.986388,1630.8,1310165.9,327970,-1

In [901]:
df5.shape

(1830, 4)

In [902]:
merged_df.dtypes

Date             datetime64[ns]
adj_close_df1           float64
adj_close_df2            object
adj_close_df3           float64
adj_close_df4            object
value                   float64
price                     int64
label                     int64
dtype: object

In [903]:
merged_df['Date'] = pd.to_datetime(merged_df['Date'])

In [904]:
merged_df.dtypes

Date             datetime64[ns]
adj_close_df1           float64
adj_close_df2            object
adj_close_df3           float64
adj_close_df4            object
value                   float64
price                     int64
label                     int64
dtype: object

In [905]:
merged_df['Date'] = merged_df['Date'].astype('int64')

In [906]:
merged_df['value'] = pd.to_numeric(merged_df['value'].replace('-', np.nan), errors='coerce')

In [907]:
merged_df['adj_close_df1'] = pd.to_numeric(merged_df['adj_close_df1'].replace('-', np.nan), errors='coerce')

In [908]:
merged_df['adj_close_df2'] = pd.to_numeric(merged_df['adj_close_df2'].replace('-', np.nan), errors='coerce')

In [909]:
merged_df['adj_close_df3'] = pd.to_numeric(merged_df['adj_close_df3'].replace('-', np.nan), errors='coerce')

In [910]:
merged_df['adj_close_df4'] = pd.to_numeric(merged_df['adj_close_df4'].replace('-', np.nan), errors='coerce')

In [911]:
merged_df.isnull().sum()

Date             0
adj_close_df1    0
adj_close_df2    2
adj_close_df3    0
adj_close_df4    3
value            0
price            0
label            0
dtype: int64

In [912]:
merged_df = merged_df.fillna(merged_df.mean())

In [913]:
merged_df.isnull().sum()

Date             0
adj_close_df1    0
adj_close_df2    0
adj_close_df3    0
adj_close_df4    0
value            0
price            0
label            0
dtype: int64

## Train / Test Split

In [914]:
X = merged_df.drop(['label'], axis=1)  # Features
y = merged_df['label']  # Labels

In [915]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Train Our Model

In [916]:
dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [917]:
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

GaussianNB()

In [918]:
svm_model = SVC(random_state=42)
svm_model.fit(X_train, y_train)

SVC(random_state=42)

In [919]:
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)

KNeighborsClassifier()

In [920]:
dt_predictions = dt_model.predict(X_test)
nb_predictions = nb_model.predict(X_test)
svm_predictions = svm_model.predict(X_test)
knn_predictions = knn_model.predict(X_test)

## Evaluation

In [921]:
models = ['Decision Tree', 'Naïve Bayes', 'SVM', 'KNN']

In [922]:
for i, predictions in enumerate([dt_predictions, nb_predictions, svm_predictions, knn_predictions]):
    model_name = models[i]
    accuracy = accuracy_score(y_test, predictions)
    precision = precision_score(y_test, predictions, average='weighted')
    recall = recall_score(y_test, predictions, average='weighted')
    f1 = f1_score(y_test, predictions, average='weighted')

    print(f"\nEvaluation metrics for {model_name}:")
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1-score: {f1:.4f}")

Evaluation metrics for Decision Tree:
Accuracy: 0.4400
Precision: 0.4526
Recall: 0.4400
F1-score: 0.4428

Evaluation metrics for Naïve Bayes:
Accuracy: 0.5500
Precision: 0.3025
Recall: 0.5500
F1-score: 0.3903

Evaluation metrics for SVM:
Accuracy: 0.5500
Precision: 0.3025
Recall: 0.5500
F1-score: 0.3903

Evaluation metrics for KNN:
Accuracy: 0.4350
Precision: 0.4404
Recall: 0.4350
F1-score: 0.4326

/Users/mahdi/anaconda3/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mahdi/anaconda3/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [923]:
f1_test_knn = f1_score(y_test, y_test_pred_knn, average='weighted')
accuracy_test_knn = accuracy_score(y_test, y_test_pred_knn)
precision_test_knn = precision_score(y_test, y_test_pred_knn, average='weighted')
recall_test_knn = recall_score(y_test, y_test_pred_knn, average='weighted')

f1_test_nb = f1_score(y_test, y_test_pred_nb, average='weighted')
accuracy_test_nb = accuracy_score(y_test, y_test_pred_nb)
precision_test_nb = precision_score(y_test, y_test_pred_nb, average='weighted')
recall_test_nb = recall_score(y_test, y_test_pred_nb, average='weighted')

f1_test_svm = f1_score(y_test, y_test_pred_svm, average='weighted')
accuracy_test_svm = accuracy_score(y_test, y_test_pred_svm)
precision_test_svm = precision_score(y_test, y_test_pred_svm, average='weighted')
recall_test_svm = recall_score(y_test, y_test_pred_svm, average='weighted')

f1_test_dt = f1_score(y_test, y_test_pred_dt, average='weighted')
accuracy_test_dt = accuracy_score(y_test, y_test_pred_dt)
precision_test_dt = precision_score(y_test, y_test_pred_dt, average='weighted')
recall_test_dt = recall_score(y_test, y_test_pred_dt, average='weighted')

/Users/mahdi/anaconda3/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mahdi/anaconda3/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [924]:
f1_train_knn = f1_score(y_train, y_train_pred_knn, average='weighted')
accuracy_train_knn = accuracy_score(y_train, y_train_pred_knn)
precision_train_knn = precision_score(y_train, y_train_pred_knn, average='weighted')
recall_train_knn = recall_score(y_train, y_train_pred_knn, average='weighted')

f1_train_nb = f1_score(y_train, y_train_pred_nb, average='weighted')
accuracy_train_nb = accuracy_score(y_train, y_train_pred_nb)
precision_train_nb = precision_score(y_train, y_train_pred_nb, average='weighted')
recall_train_nb = recall_score(y_train, y_train_pred_nb, average='weighted')

f1_train_svm = f1_score(y_train, y_train_pred_svm, average='weighted')
accuracy_train_svm = accuracy_score(y_train, y_train_pred_svm)
precision_train_svm = precision_score(y_train, y_train_pred_svm, average='weighted')
recall_train_svm = recall_score(y_train, y_train_pred_svm, average='weighted')

f1_train_dt = f1_score(y_train, y_train_pred_dt, average='weighted')
accuracy_train_dt = accuracy_score(y_train, y_train_pred_dt)
precision_train_dt = precision_score(y_train, y_train_pred_dt, average='weighted')
recall_train_dt = recall_score(y_train, y_train_pred_dt, average='weighted')

/Users/mahdi/anaconda3/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mahdi/anaconda3/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [925]:
print("KNN Metrics:")
print("Training set - F1: {:.2f}".format(f1_train_knn), "Accuracy: {:.2f}".format(accuracy_train_knn), "Precision: {:.2f}".format(precision_train_knn), "Recall: {:.2f}".format(recall_train_knn))
print("Test set - F1: {:.2f}".format(f1_test_knn), "Accuracy: {:.2f}".format(accuracy_test_knn), "Precision: {:.2f}".format(precision_test_knn), "Recall: {:.2f}".format(recall_test_knn))

print("\nNaive Bayes Metrics:")
print("Training set - F1: {:.2f}".format(f1_train_nb), "Accuracy: {:.2f}".format(accuracy_train_nb), "Precision: {:.2f}".format(precision_train_nb), "Recall: {:.2f}".format(recall_train_nb))
print("Test set - F1: {:.2f}".format(f1_test_nb), "Accuracy: {:.2f}".format(accuracy_test_nb), "Precision: {:.2f}".format(precision_test_nb), "Recall: {:.2f}".format(recall_test_nb))

print("\nSVM Metrics:")
print("Training set - F1: {:.2f}".format(f1_train_svm), "Accuracy: {:.2f}".format(accuracy_train_svm), "Precision: {:.2f}".format(precision_train_svm), "Recall: {:.2f}".format(recall_train_svm))
print("Test set - F1: {:.2f}".format(f1_test_svm), "Accuracy: {:.2f}".format(accuracy_test_svm), "Precision: {:.2f}".format(precision_test_svm), "Recall: {:.2f}".format(recall_test_svm))

print("\nDecision Tree Metrics:")
print("Training set - F1: {:.2f}".format(f1_train_dt), "Accuracy: {:.2f}".format(accuracy_train_dt), "Precision: {:.2f}".format(precision_train_dt), "Recall: {:.2f}".format(recall_train_dt))
print("Test set - F1: {:.2f}".format(f1_test_dt), "Accuracy: {:.2f}".format(accuracy_test_dt), "Precision: {:.2f}".format(precision_test_dt), "Recall: {:.2f}".format(recall_test_dt))

KNN Metrics:
Training set - F1: 0.64 Accuracy: 0.65 Precision: 0.65 Recall: 0.65
Test set - F1: 0.44 Accuracy: 0.45 Precision: 0.45 Recall: 0.45

Naive Bayes Metrics:
Training set - F1: 0.32 Accuracy: 0.49 Precision: 0.24 Recall: 0.49
Test set - F1: 0.39 Accuracy: 0.55 Precision: 0.30 Recall: 0.55

SVM Metrics:
Training set - F1: 0.32 Accuracy: 0.49 Precision: 0.24 Recall: 0.49
Test set - F1: 0.39 Accuracy: 0.55 Precision: 0.30 Recall: 0.55

Decision Tree Metrics:
Training set - F1: 1.00 Accuracy: 1.00 Precision: 1.00 Recall: 1.00
Test set - F1: 0.47 Accuracy: 0.47 Precision: 0.49 Recall: 0.47

## Regression For Price

In [926]:
merged_df.drop(['label'],axis=1)

,Date,adj_close_df1,adj_close_df2,adj_close_df3,adj_close_df4,value,price
0,1427241600000000000,0.272331,51.43,1.090203,1205.1,62885.0,33930
1,1427673600000000000,0.272316,47.60,1.088495,1183.1,65175.1,33240
2,1427760000000000000,0.272316,50.09,1.083025,1208.1,65728.0,33070
3,1428278400000000000,0.272316,53.98,1.100134,1210.6,70843.9,32860
4,1428364800000000000,0.272324,50.42,1.093482,1203.1,70159.9,33140
...,...,...,...,...,...,...,...
992,1665446400000000000,0.272324,87.27,0.971006,1670.3,1313583.9,327520
993,1665532800000000000,0.272324,89.11,0.970017,1670.0,1319789.7,326510
994,1665964800000000000,0.272286,82.82,0.973937,1649.0,1311109.9,328620
995,1666051200000000000,0.272324,85.55,0.984640,1627.5,1312563.2,328390
996,1666137600000000000,0.272324,85.98,0.986388,1630.8,1310165.9,327970

In [927]:
X = merged_df.drop(['price'], axis=1)  # Features
y = merged_df['price']  # Target variable

In [928]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [929]:
reg_model = LinearRegression()
reg_model.fit(X_train, y_train)

y_pred = reg_model.predict(X_test)

r2 = r2_score(y_test, y_pred)

print(f"R-squared: {r2:.4f}")

R-squared: 0.9654

## Thanks